{% extends "main.html" %}
{% block content %}
   <div class="breadcrumbs">{{ breadcrumbs|safe }}&nbsp;&nbsp;<a href="javascript:void(location.href='https://cms.sunstarsys.com/redirect?uri='+escape(location.href)+';action=edit')"><img src="/images/edit.png" /></a></div>
     <h1>{{ headers.title|safe }}</h1>
     <div class="essay col-lg-12 container">
       <div style="color:#aaa">
         <small>
           [<a href="/dynamic/search{{path|dirname}}/?regex=^Status:\s{{headers.status|default_if_none:"draft"|lower|cut:"^a-z"}};lang={{lang}};markdown_search=1"><span class="text-warning">{{headers.status|default_if_none:"draft"|upper|cut:"^A-Z"}}</span></a>]
           <em>
			   <a href="/dynamic/search{{path}}?regex=diff=r{{content|vcs_revision}};lang={{lang}};markdown_search=1">{% ifequal lang ".en" %}Last updated</a> by {% endifequal %}{% ifequal lang ".de" %}Zuletzt aktualisiert</a> von {% endifequal %}{% ifequal lang ".es" %}Actualizado por última vez</a> por{% endifequal %}{% ifequal lang ".fr" %}Dernière mise à jour</a> par {% endifequal %}<b>{{ content|ssi|vcs_author:lang }}</b>
             {% ifequal lang ".en" %}on{% endifequal %}{% ifequal lang ".de"%}am{% endifequal %}{% ifequal lang ".es" %}el{% endifequal %}{% ifequal lang ".fr" %}le{% endifequal %} <b>{{ content|ssi|vcs_date:lang }}</b>
{% ifequal repos "public" %}
			   &nbsp;
			   <a href="https://github.com/SunStarSys/{{website}}/blob/trunk/content{{path}}"><i class="fa-brands fa-sm fa-github"></i>&nbsp;source</a>
{% endifequal %}
			 </em>
         </small>
         <div class="right">
           <a id="watch" href="https://cms.sunstarsys.com/redirect?uri=https://{{website}}{{path}};action=watch">
             <i class="fa fa-eye fa-emoji" title="watch"></i>
           </a>
           <a id="unwatch" href="/dynamic/search{{path|dirname}}/?regex=watch=;lang={{lang}};markdown_search=1#:~:text=/{{path|parse_filename:"1.."}}">
            <i class="fa fa-eye-slash fa-emoji" title="unwatch"></i>
           </a>
         </div>
         <br>&nbsp;
         <br>
       </div>
       {{ content|removetags:"script"|markdown }}
     </div>
{% endblock %}
{% block footer %}
<div class="container">
{% include "index.html" %}
</div>

<style type="text/css">
  /* automatic line numbering kludge */
  .katex-display { display: table; width: 100% }
  .katex-display>.katex { display: table-cell }
  body { counter-reset: eqno }
  .katex-display::before, .katex-display::after {
    width: 5%;
    display: table-cell;
    text-align: right;
	vertical-align: middle;
  }

  .katex-display::after {
    counter-increment: eqno;
	content: "(" counter(eqno) ")";
  }

  .eqno::after {
    content: "(" counter(eqno) ")";
  }

</style>
{% endblock %}

{% block javascript %}
<script async="" type="module">
  if (document.cookie.indexOf("can_search") >= 0) {
      const response = await fetch("/dynamic/search{{path|dirname}}/?regex=watch=;lang={{lang}};markdown_search=1;as_json=1",
                                   {credentials: 'same-origin'});
      try {
          const json = await response.json();
          const is_watching = json.watch.map(e => e.name).filter(e => e.match(/^(?:\/{{path|parse_filename:"1.."}}|\/)$/)).length;
          if (is_watching)
              $("#unwatch").css("display", "inline");
          else
              $("#watch").css("display", "inline");
      }
      catch (e) {

      }
  }
</script>
{% endblock %}
